* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    min-height: 100vh;


}
header {
    background-color: black;
    /* flex-basis: 5%; */
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header div#menu {
    /* border: 1px solid white; */
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div#menu i{
    flex-direction: column-reverse;
    color: white;
    font-size: 30px;
}

header figure {
    background-color: rosybrown;
    color: white;
    /* flex-basis: 20%; */
    height: 100%;
}

header figure img {
    height: 100%;
}

header form {
    flex-basis: 25%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

header form input {
    background-color: antiquewhite;
    padding: 6px;
    border-radius: 15px;
    font-size: 20px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav {
    /* border: 1px solid white; */
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav a:hover{
    color: rgb(218, 253, 111);
}

header div#carrito {
    /* border: 1px solid white; */
    color: white;
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header div#carrito i{
    font-size: 25px;
    color: rgb(218, 253, 111);
}

main section.ruta {
    padding: 8px;
}

main section.ruta nav a {
    color: rgb(50,51,50);
    font-size: 11px;
    text-decoration: none;
    margin-left: 7px;
}

main section.ruta nav a span {
    margin-left: 7px;
}

main section.producto {

    display: flex;
    flex-direction: row;
    
}

main section.producto div.imagenes {

    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    
}

main section.producto div.imagenes div.miniaturas {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

main section.producto div.imagenes div.miniaturas img {
    width: 40%;
    margin-right: 30px;
    margin-top: 15px;
    
}

main section.producto div.imagenes div.principal {
    flex-basis: 70%;
    position: relative;
}

main section.producto div.imagenes div.principal img {
    width: 100%;
}

main section.producto div.imagenes div.principal p.badge {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(183, 67, 139);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
    width: 30%;
    z-index: 10;
}

main section.producto div.informacion {
    flex-basis: 50%;
    padding: 30px;
}

main section.producto div.informacion h2 {
    font-family: sans-serif;
    font-size: 40px;
}

main section.producto div.informacion p.valoraciones {
    margin-bottom: 20px;
    font-size: 12px;
}

main section.producto div.informacion p.valoraciones span.star {
    color: rgb(254,218,77);
}

main section.producto div.informacion p.valoraciones span.valoracion {
    color: rgb(102, 104, 110);
    font-family: sans-serif;
    margin-left: 5px;
}

main section.producto div.informacion p.valoraciones span.opinion {
    color: rgb(102, 104, 110);
    font-family: sans-serif;
    margin-left: 5px;
}

main section.producto div.informacion div.uwu {
    display: flex;
    flex-direction: column;
}

main section.producto div.informacion div.uwu span.oferta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

main section.producto div.informacion div.uwu span.oferta span.dto {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: rgb(228,9,126);
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    height: 50%;
    margin-right: 20px;
}

main section.producto div.informacion div.uwu span.oferta span.precio {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 600;
}

main section.producto div.informacion div.uwu span.letras {
    color: rgb(102, 104, 110);
    font-size: 16px;
    font-family:sans-serif;
}

main section.producto div.informacion div.uwu span.letras span.tachado {
    text-decoration: line-through;
}

main section.producto div.informacion div.uwu span.letras i {
    color: rgb(232,34,140);
}

main section.producto div.informacion div.uwu span.inf {
    color: rgb(143, 146, 155);
    font-size: 16px;
    font-family: sans-serif;
}

main section.producto div.informacion div.uwu span.ref {
    color: rgb(119, 119, 119);
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

main section.producto div.informacion div.cuadro {
    background-color: rgb(242,242,245);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main section.producto div.informacion div.cuadro span.truck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

main section.producto div.informacion div.cuadro span.truck i {
    color: white;
    background-color: rgb(228,9,126);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

main section.producto div.informacion div.cuadro p.dispo {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

main section.producto div.informacion div.cuadro p.dispo span.awa {
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

main section.producto div.informacion div.cuadro p.dispo span.segundo {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

main section.producto div.informacion div.cuadro p.dispo span.segundo span.envio{
    flex-basis: 50%;
}

main section.producto div.informacion div.cuadro p.dispo span.segundo span.devolucion{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

main section.producto div.informacion div.cuadro p.dispo span.segundo span.devolucion span.devo {
    flex-basis: 50%;
    padding-left: 30px;
}

main section.producto div.informacion div.cuadro p.dispo span.segundo span.devolucion span.gratis {
    flex-basis: 50%;
    padding-left: 30px;
    font-weight: bold;
}

main section.producto div.informacion div.cuadro p.dispo span.garantia {
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

main section.producto div.informacion p.compra {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 14px;
}

main section.producto div.informacion p.compra span.capa {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

main section.producto div.informacion p.compra span.selec {
    margin-bottom: 20px;
}

main section.producto div.informacion p.compra span.comp {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

main section.producto div.informacion p.compra span.comp span.buno {
    border: 1px solid rgb(181,185,192);
    font-weight: bold;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    margin-right: 20px;
    border-radius: 20px;

}

main section.producto div.informacion p.compra span.comp span.bdos {
    background-color: rgb(221,254,67);
    padding: 5px 50px 5px 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

main section.producto div.informacion p.compra span.boton {
    color: blue;
    font-size: 16px;
}

main section.producto div.informacion p.compra span.boton span.compartir {
    margin-left: 10px;
}




footer {
    background-color: black;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer nav#sociales {
    border: 1px solid black;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}

footer nav#sociales a{
    text-decoration: none;
    background-color: rgb(190,235,43);
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

footer nav#sociales a:hover {
    transform: translate(0px,-10px);
}

footer nav#sociales a i{
    display: inline-block;
    font-size: 30px;
    color: white;
}

footer div#subscribete {
    border: 1px solid white;
    flex-basis: 20%;
    color: rgb(255, 234, 8);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

footer div#input {
    display: flex;
    margin-left: 10px;
}

footer article {
    border: 4px solid black;
    flex-basis: 33%;
    background-color: rgb(28,29,30);
    border-radius: 12%;
    padding-top: 20px;
}

footer article h3 {
    margin-top: 4%;
    color: whitesmoke;
    margin-left: 25px;
    margin-bottom: 20px;
}

footer article nav {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

footer article nav a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}
footer article nav a i{
    font-size: 25px;
    margin-right: 10px;
}
footer article nav a span {
    font-size: 18px;
}